body {
    background: linear-gradient(90deg, #b8cfc9, #94c4c1);
}


.plot {
    background-color: rgb(151, 218, 198); 
    border: 1px solid rgb(20, 19, 19); 
    border-radius: 5px; 
}

.metric-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.center-text {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
}

#loss-plot-container {
    color: #111311;
    width: 400px;
    height: 450px;
    margin: 20px; 
    position: absolute; 
    top: 150px; 
    left: 430px; 
}

#accuracy-plot-container {
    width: 400px;
    height: 450px;
    margin: 20px; 
    position: absolute; 
    top: 150px; 
    left: 880px; 
}

#batchtime-plot-container {
    width: 400px;
    height: 450px;
    margin: 20px; 
    position: absolute; 
    top: 400px; 
    left: 600px; 
}